name: Test

on:
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.4.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: setup_percona_toolkit
        ports:
          - 3306
        options: >-
          --health-cmd "mysql --user=root --skip-password --execute='SHOW DATABASES;'"
          --health-interval 15s
          --health-timeout 5s
          --health-retries 6
    steps:
      - name: Create test table
        run: >-
          mysql
          --host=127.0.0.1
          --port=${{ job.services.mysql.ports['3306'] }}
          --database=setup_percona_toolkit
          --user=root
          --skip-password
          --execute='CREATE TABLE test (id INT PRIMARY KEY)'

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # https://github.com/actions/checkout/releases/tag/v5.0.0
        with:
          path: 'setup-percona-toolkit'

      - name: Set up Percona Toolkit
        uses: ./setup-percona-toolkit

      - name: Use pt-online-schema-change
        shell: bash
        run: >-
          pt-online-schema-change
          --execute
          --alter 'ADD COLUMN test INT'
          --host 127.0.0.1
          --port ${{ job.services.mysql.ports['3306'] }}
          --user root
          --password ''
          D=setup_percona_toolkit,t=test
